QQ_APP_ID=
QQ_APP_SECRET=
V_API_KEY=
V_API_BASE_URL=https://lanxiu.eu.cc/v1
QQ_API_BASE=https://api.sgroup.qq.com
WORKSPACE_DIR=./workspace
DATA_DIR=./data
CODEX_HOME=
CODEX_SANDBOX_MODE=workspace-write
CODEX_TIMEOUT_MS=180000
CODEX_MODEL=
STATUS_THROTTLE_MS=2500
REPLY_CHUNK_SIZE=1500

# Docker container proxy. Inside Docker, use host.docker.internal instead of 127.0.0.1.
HOST_HTTP_PROXY=http://host.docker.internal:8899
HOST_HTTPS_PROXY=http://host.docker.internal:8899
HOST_ALL_PROXY=http://host.docker.internal:8899
HOST_NO_PROXY=localhost,127.0.0.1,::1
